<div class="container">
    <div class="card">
        <div class="card-body">
            <span class="h3"> Listado de CLientes </span>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary" routerLink="/create-clientes" type="button">Agregar</button>
            </div>
            <table class="table table-striped mt-5">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                    <th>Fecha de Nacimiento</th>
                    <th>desviación estándar(σ)</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cliente of clientes">
                    <td> {{ cliente.nombre}} </td>
                    <td>{{ cliente.apellido}}</td>
                    <td>{{ cliente.edad}}</td>
                    <td>{{ cliente.fecha}}</td>
                    <td></td>
                    <td>
                    <i class="fas fa-edit fa-lg text-info mr-4"></i>
                      <i class="fas fa-trash-alt fa-lg text-danger"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>

    </div>
</div>